[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-restframework = "*"
djangorestframework-simplejwt = "*"
python-dotenv = "*"
django-filter = "*"
django-extensions = "*"

[dev-packages]
isort = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.2"
